<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App Stamp Store</title>
</head>
<body>
<img width="200" th:src="@{/images/penny.jpg}"/>
<a th:href="@{/catalog}" id="catalog">Catalog of stamps</a><br/>
<a th:href="@{/cart}" id="cart">My Cart</a>
<a th:href="@{/login}" id="login">Login</a>
<a th:href="@{/register}" id="register">Registration</a>
<h1>Welcome!!!</h1>
<h2>Buy Postage Stamps</h2>

<img width="1000" th:src="@{/images/somestamps.jpeg}"/>
</body>
</html>